<h1>All Event </h1>



<% @event.each do |e|%>

   <h2><%= link_to e.event_name, e%></h2>
<% end %>

 <div>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete%>
      <%= link_to 'Create New Event', new_event_path, method: :get %>
</div>
